In [3]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [7]:
# define 14 tickers to use
tickers_list = ['AAPL', 'MSFT', 'WMT', 'IBM', 'MU', 'BA', 'AXP',  'NVDA', 'FB', 'OXY', 'TSLA', 'JNJ', 'NFLX', 'DIS']
from_date, to_date = '2014-03-01','2019-03-01'

In [126]:
def get_close_prices(tick_list, from_date, to_date):
    return yf.download(tickers_list, from_date, to_date )['Adj Close']
    
data_set_df = get_close_prices(tickers_list, from_date, to_date )
data_set_df.head()

[*********************100%***********************]  14 of 14 completed

,AAPL,AXP,BA,DIS,FB,IBM,JNJ,MSFT,MU,NFLX,NVDA,OXY,TSLA,WMT
Date,,,,,,,,,,,,,,
2014-02-28,67.710892,82.985603,109.956337,74.370750,68.459999,143.043030,77.661484,33.542198,24.190001,63.661430,17.476261,68.527534,244.809998,63.742687
2014-03-03,67.906464,81.794632,109.359322,73.128334,67.410004,142.340057,77.189392,33.078148,24.480000,63.655716,17.390688,68.193840,250.559998,63.247753
2014-03-04,68.354248,84.194740,111.073647,75.199028,68.800003,144.024139,78.690002,33.629753,25.110001,64.997147,17.571339,69.024529,254.839996,64.109596
2014-03-05,68.498352,83.767448,109.845436,76.091743,71.570000,144.564880,78.057709,33.367085,24.830000,64.785713,17.723475,68.761810,252.660004,63.828003
2014-03-06,68.291168,85.022049,109.905167,76.699165,70.839996,144.951080,78.310631,33.402107,24.770000,64.358574,17.476261,68.884544,252.940002,63.896255

## Label Data

In [220]:
dataset_df = pd.concat([data_set_df, pd.DataFrame( columns = [x + '_Signal' for x in tickers_list] )]).reset_index()

window = 11
for ticker in tickers_list:
    for idx in range(dataset_df.shape[0]):
        if int(idx)>window:
            #print(type(idx))
            start_idx = idx - window
            end_idx = idx
            prices = dataset_df[ticker].iloc[start_idx:end_idx]
            max_idx = max(enumerate(prices.tolist()),key=lambda x: x[1])[0]
            min_idx =  min(enumerate(prices.tolist()),key=lambda x: x[1])[0]
            
            pos = int(end_idx-6)
            if max_idx == window//2:
                dataset_df.at[pos, [f'{ticker}_Signal']]  = 'Sell'
                
            elif min_idx == window//2:
                dataset_df.at[pos, [f'{ticker}_Signal']]  = 'Buy'
                
            else:
                dataset_df.at[pos, [f'{ticker}_Signal']] = 'Hold'

dataset_df = dataset_df.reindex(sorted(dataset_df.columns), axis=1)

In [222]:
dataset_df = dataset_df.set_index('index')

In [224]:
dataset_df.head(15)#.to_csv('C:\\Users\\andre\\Desktop\\test.csv')

,AAPL,AAPL_Signal,AXP,AXP_Signal,BA,BA_Signal,DIS,DIS_Signal,FB,FB_Signal,...,NFLX,NFLX_Signal,NVDA,NVDA_Signal,OXY,OXY_Signal,TSLA,TSLA_Signal,WMT,WMT_Signal
index,,,,,,,,,,,,,,,,,,,,,
2014-02-28,67.710892,NaN,82.985603,NaN,109.956337,NaN,74.370750,NaN,68.459999,NaN,...,63.661430,NaN,17.476261,NaN,68.527534,NaN,244.809998,NaN,63.742687,NaN
2014-03-03,67.906464,NaN,81.794632,NaN,109.359322,NaN,73.128334,NaN,67.410004,NaN,...,63.655716,NaN,17.390688,NaN,68.193840,NaN,250.559998,NaN,63.247753,NaN
2014-03-04,68.354248,NaN,84.194740,NaN,111.073647,NaN,75.199028,NaN,68.800003,NaN,...,64.997147,NaN,17.571339,NaN,69.024529,NaN,254.839996,NaN,64.109596,NaN
2014-03-05,68.498352,NaN,83.767448,NaN,109.845436,NaN,76.091743,NaN,71.570000,NaN,...,64.785713,NaN,17.723475,NaN,68.761810,NaN,252.660004,NaN,63.828003,NaN
2014-03-06,68.291168,NaN,85.022049,NaN,109.905167,NaN,76.699165,NaN,70.839996,NaN,...,64.358574,NaN,17.476261,NaN,68.884544,NaN,252.940002,NaN,63.896255,NaN
2014-03-07,68.251305,NaN,85.331154,NaN,109.632225,NaN,75.659187,NaN,69.800003,NaN,...,64.052856,NaN,17.457243,NaN,69.499908,NaN,246.210007,NaN,64.050835,NaN
2014-03-10,68.313065,Hold,85.185699,Hold,108.224937,Hold,75.438324,Hold,72.029999,Sell,...,62.849998,Hold,17.200518,Hold,69.564301,Sell,238.839996,Hold,63.922043,Hold
2014-03-11,68.978279,Hold,84.731133,Hold,107.184402,Hold,74.591629,Hold,70.099998,Hold,...,62.497143,Hold,17.371666,Hold,68.984703,Hold,234.410004,Hold,64.342842,Hold
2014-03-12,69.045181,Sell,84.458397,Hold,106.126793,Hold,74.895332,Hold,70.879997,Hold,...,62.368572,Hold,17.419210,Hold,68.970421,Hold,241.490005,Hold,64.866730,Sell
2014-03-13,68.278328,Hold,82.449203,Hold,103.960426,Buy,73.560883,Buy,68.830002,Hold,...,61.437141,Hold,16.867727,Buy,68.555405,Hold,237.789993,Hold,64.351433,Hold
2014-03-14,67.511467,Buy,81.976448,Buy,105.000977,Hold,73.689720,Hold,67.720001,Hold,...,60.641430,Hold,16.943790,Hold,69.063431,Hold,230.970001,Hold,63.793217,Buy
2014-03-17,67.775238,Hold,82.967430,Hold,106.971184,Hold,74.904541,Hold,68.739998,Hold,...,60.388573,Hold,16.943790,Hold,69.299553,Hold,233.979996,Hold,64.136726,Hold
2014-03-18,68.374832,Hold,83.267441,Hold,105.794182,Hold,75.456726,Sell,69.190002,Hold,...,60.035713,Hold,17.343140,Hold,69.592934,Sell,240.039993,Hold,64.214005,Hold
2014-03-19,68.356827,Hold,82.485565,Hold,104.258942,Hold,74.103859,Hold,68.239998,Hold,...,60.012856,Hold,17.647408,Hold,68.075989,Hold,235.839996,Hold,63.879086,Hold
2014-03-20,68.027428,Hold,83.358345,Sell,105.529762,Hold,74.370750,Hold,66.970001,Hold,...,60.610001,Hold,17.656912,Sell,66.494667,Buy,234.910004,Hold,64.737915,Hold